* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: auto;
    background: #e5e7eb;
}

/*------------HEADER------------*/
.header-container {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px 30px;
}

.header-title a{
    font-size: 2rem;
    padding: 5px;
    text-decoration: none;
    color: black;
}

/*==== Search ====*/
.header-search {
    font-size: 1rem;
    display: flex;
    justify-content: start;
    padding: 5px;
}

.header-search input {
    background: rgb(245, 245, 245);
    position: relative;
    font-size: 0.9rem;
    border-radius: 10px;
    height: 2rem;
    width: 20rem;
    padding: 0 25px;
    border-style: none;
    outline-style: none;
}

.header-search button {
    background: rgb(245, 245, 245);
    position: absolute;
    color: gray;
    border: none;
    margin: 9px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

/*==== First Ul ====*/
.header-first-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5px;
    list-style: none;   
}

/*==== Second Ul ====*/
.header-second-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5px;
    list-style: none;   
}

.header-li a {
    outline: none;
    color: black;
    text-decoration: none;
}

/*------------MAIN------------*/
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------SOBRE MI------------*/
.sobremi-container {
    height: 550px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 10px;
}

.item {
    background: rgb(245, 245, 245);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.grande {
    grid-row: 1 / 3;
    background: #60a5fa;
}